<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
         <ion-buttons slot="start">
           <ion-back-button></ion-back-button>
         </ion-buttons>
      </ion-buttons>
    <ion-title>Details of {{newsId}}</ion-title>
    <ion-button *ngIf="!editMode" (click)="onEdit()" slot="end" color="warning">
      Edit
    </ion-button>
    <ion-button *ngIf="editMode" (click)="presentCancelConfirm()" slot="end" color="warning">
        Cancel
    </ion-button>
    <ion-button *ngIf="editMode" (click)="presentSaveConfirm()" slot="end" color="success">
        Save
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form #newsEditForm="ngForm" novalidate>

        <ion-list lines="none">
          <ion-item *ngIf="newsItemUploadProgress">
            <ion-note slot="start">
                News item upload progress:
            </ion-note>
            <ion-progress-bar color="primary" [value]="newsItemUploadProgress"></ion-progress-bar>
          </ion-item>
          <ion-item *ngIf="newsItemDetailUploadProgress">
              <ion-note slot="start">
                  News item detail upload progress:
              </ion-note>
              <ion-progress-bar color="primary" [value]="newsItemDetailUploadProgress"></ion-progress-bar>
            </ion-item>
          <ion-item>
            <ion-label position="stacked" color="primary">News Title</ion-label>
            <ion-input [(ngModel)]="newsItem.name" name="name" type="text" #name="ngModel" required [disabled]="!editMode"
              placeholder="News Title, useful for search">
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
              Title is required
            </p>
          </ion-text>
          <ion-item>
            <ion-label position="stacked" color="primary">Valid from</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="newsItem.validFrom" name="validFrom" [disabled]="!editMode"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="primary">Valid to</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="newsItem.validTo" name="validTo" [disabled]="!editMode"></ion-datetime>
          </ion-item>
        
          <ion-item>
            <ion-label position="stacked" color="primary">Overview image</ion-label> 
            <ion-input type="file" name="image" (change)="onFileLoaded($event)" [disabled]="!editMode"></ion-input>

            <div class="image-preview" *ngIf="newsItem.overviewImageBase64">
              <img [src]="newsItem.overviewImageBase64" height="150" />
            </div>

          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="primary">Detail image</ion-label>
            <ion-input type="file" name="image" (change)="onFileLoaded($event, true)" [disabled]="!editMode"></ion-input>

            <div class="image-preview" *ngIf="newsItemDetail.imageBase64">
              <img [src]="newsItemDetail.imageBase64" height="300" />
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" color="primary">Description</ion-label>
            <ion-input [(ngModel)]="newsItemDetail.description" name="description" type="text" #description="ngModel" [disabled]="!editMode"
              placeholder="Optional details">
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="description.valid || submitted == false" class="ion-padding-start">
              Password is required
            </p>
          </ion-text>

        </ion-list>
    
        <!-- <div class="ion-padding">
          <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Create</ion-button>
        </div> -->
      </form>

</ion-content>
