<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
         <ion-buttons slot="start">
           <ion-back-button></ion-back-button>
         </ion-buttons>
      </ion-buttons>
    <ion-title>Details of {{newsId}}</ion-title>
    <ion-button *ngIf="!editMode" (click)="onEdit()" slot="end" color="warning">
      Edit
    </ion-button>
    <ion-button *ngIf="editMode" (click)="presentCancelConfirm()" slot="end" color="warning">
        Cancel
    </ion-button>
    <ion-button *ngIf="editMode" (click)="presentSaveConfirm()" slot="end" color="success">
        Save
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form #newsEditForm="ngForm" novalidate>
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked" color="primary">News title</ion-label>
            <ion-input [(ngModel)]="newsItem.name" name="name" type="text" #name="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
              Title is required
            </p>
          </ion-text>
    
          <ion-item>
            <ion-label position="stacked" color="primary">Description</ion-label>
            <ion-input [(ngModel)]="newsItemDetail.description" name="description" type="text" #description="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="description.valid || submitted == false" class="ion-padding-start">
              Password is required
            </p>
          </ion-text>
        </ion-list>
    
        <!-- <div class="ion-padding">
          <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Create</ion-button>
        </div> -->
      </form>

</ion-content>
