<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-title>Promotions</ion-title>
  
      <ion-buttons slot="end">
       <ion-button [routerLink]="['/promotion-edit']">
         Add
         <ion-icon slot="end" name="add"></ion-icon>
       </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <ion-toolbar>
      <ion-segment [(ngModel)]="segmentFilter" (ionChange)="updatePromotions()">
          <ion-segment-button value="active">
              active
            </ion-segment-button>
          <ion-segment-button value="recent">
              Recently added
            </ion-segment-button>
          <ion-segment-button value="changed">
              Recently changed
            </ion-segment-button>
          <ion-segment-button value="finished">
            Finished
          </ion-segment-button>
          <ion-segment-button value="all">
            All
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
  
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updatePromotions()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list lines="full"  *ngIf="promotions;else promotionsLoading">
  
      <ion-item *ngFor="let promotion of promotions" detail="false">
        <ion-label class="ion-text-wrap">
          <ion-badge *ngIf="promotion.deleted" color="danger">Deleted</ion-badge>
          <h2>{{promotion.name}}</h2>
          <p>({{promotion._id}})</p>
          <p>
            {{ promotion.validFrom | date:'dd/MM/yyyy HH:mm:ss' }}  &mdash; {{promotion.validTo | date:'dd/MM/yyyy HH:mm:ss' }} 
          </p>
        </ion-label>
        <div class="img-container" slot="start">
          <img [src]="promotion.overviewImageBase64" (error)="showPlaceHolderOnError($event.srcElement)" />
        </div>
    
        <ion-button (click)="presentDeleteConfirm(promotion._id)" color="danger" *ngIf="!promotion.deleted">
          Delete
        </ion-button>
        <ion-button (click)="presentUndeleteConfirm(promotion._id)" color="warning" *ngIf="promotion.deleted">
          Undelete
        </ion-button>
        <ion-button routerLink="/promotion-edit/{{promotion._id}}" routerDirection="forward">
          Details
        </ion-button>
      </ion-item>
  
    </ion-list>
  </ion-content>
  
  <ng-template #promotionsLoading><div class="ion-text-center">
      <ion-spinner></ion-spinner>
      <div>Loading promotions...</div>
  </div></ng-template> <!--this does not handle error state of the observable-->