<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>News</ion-title>

    <ion-buttons slot="end">
     <ion-button [routerLink]="['/news-edit']">
       Add
       <ion-icon slot="end" name="add"></ion-icon>
     </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentFilter" (ionChange)="updateNews()">
        <ion-segment-button value="active">
            active
          </ion-segment-button>
        <ion-segment-button value="recent">
            Recently added
          </ion-segment-button>
        <ion-segment-button value="changed">
            Recently changed
          </ion-segment-button>
        <ion-segment-button value="finished">
          Finished
        </ion-segment-button>
        <ion-segment-button value="all">
          All
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateNews()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" #newsListElement *ngIf="news;else newsLoading">

    <ion-item *ngFor="let newsItem of news" detail="false">
      <ion-label class="ion-text-wrap">
        <ion-badge *ngIf="newsItem.deleted" color="danger">Deleted</ion-badge>
        <h2>{{newsItem.name}}</h2>
        <p>({{newsItem._id}})</p>
        <p>
          {{ newsItem.validFrom | date:'dd/MM/yyyy HH:mm:ss' }}  &mdash; {{newsItem.validTo | date:'dd/MM/yyyy HH:mm:ss' }} 
        </p>
      </ion-label>
      <div class="img-container" slot="start">
        <img [src]="newsItem.overviewImageBase64" (error)="showPlaceHolderOnError($event.srcElement)" />
      </div>
  
      <ion-button (click)="presentDeleteConfirm(newsItem._id)" color="danger" *ngIf="!newsItem.deleted">
        Delete
      </ion-button>
      <ion-button (click)="presentUndeleteConfirm(newsItem._id)" color="warning" *ngIf="newsItem.deleted">
        Undelete
      </ion-button>
      <ion-button routerLink="/news-edit/{{newsItem._id}}" routerDirection="forward">
        Details
      </ion-button>
    </ion-item>

  </ion-list>
</ion-content>

<ng-template #newsLoading><div class="ion-text-center">
    <ion-spinner></ion-spinner>
    <div>Loading news...</div>
</div></ng-template> <!--this does not handle error state of the observable-->